* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 1.5rem;
}

.third {
    width: 33.3333%;
    padding: 1rem;
    float: left;
}
.half {
    width: 50%;
    padding: 1rem;
    float: left;
}

.third, .half {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

@import 'normalize';
@import 'index';