@import "functions";
@import "settings";
@import "media-queries";
@import "mixins";
@import "grid";
@import "normalize";
@import "index";

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    padding: 1.5rem;
    @include rem-calc(font-size, 12);
}

.third {
    width: 33.3333%;
    padding: 1rem;
    float: left;
}
.half {
    width: 50%;
    padding: 1rem;
    float: left;
}

.third, .half {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}