$mainColor: #FE8173;

.tiplodicus {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
    display: none;

    @media #{$small-only} {
        width: 100%;
        @include rem-calc(margin-top, 5);
    }

    .td-tip {
        position: absolute;
    }

    .td-close {
        @include rem-calc(margin, 0, 0, 10, 20);
        float: right;
        display: block;

        .touch & {
            display: block;
        }

        img {
            @include rem-calc(height, 18);
            @include rem-calc(width, 18);
        }
    }

    .td-content {
        @include rem-calc(width, 335);
        @include rem-calc(padding, 10);
        margin: 0;
        background-color: $mainColor;
        @include rem-calc(font-size, 13);
        @include rem-calc(line-height, 18);

        h3 {
            @include rem-calc(padding-bottom, 10);
            font-weight: normal;
            @include rem-calc(font-size, 14);
            @include rem-calc(line-height, 16);
        }

        p {
            @include rem-calc(padding, 10, 0 , 0, 0);
            margin: 0;

            &:nth-of-type(1) {
                padding: 0;
            }
        }

        @media #{$small-only} {
            width: 97%;
            margin-left: 1.5%;
        }
    }

    &[class*="top-"] {
        @include rem-calc(margin-bottom, 10);

        .td-tip {
            @include css-triangle(12, $mainColor, top);
        }
    }

    &[class*="bottom-"] {
        @include rem-calc(margin-top, 10);

        .td-tip {
            @include css-triangle(12, $mainColor, bottom);
            bottom: 100%;
        }
    }

    &[class*="-center"] {
        .td-tip {
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            left: 50%;
        }
    }

    &[class*="center-"] {
        .td-tip {
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            top: 50%;
        }
    }

    &[class*="-right"] {
        .td-tip {
            @include rem-calc(left, 12);
        }
    }

    &[class*="-left"] {
        .td-tip {
            @include rem-calc(right, 12);
        }
    }

    &.center-right {
        @include rem-calc(padding-left, 12);

        .td-tip {
            @include css-triangle(12, $mainColor, right);
            @include rem-calc(left, -12);
        }
    }

    &.center-left {
        @include rem-calc(padding-right, 12);
        .td-tip {
            @include css-triangle(12, $mainColor, left);
            @include rem-calc(right, -12);
        }
    }

    &.hide {
        /**
            This is so the tooltips don't take up room in the document
            when they are hidden. Position:absolute isn't enough apparently
            when they are not display:none. Visibility:hidden is required for
            the fade in effect.
        **/
        left: -100% !important;
    }

    &.show {
        visibility: visible;
        opacity: 1;
        display: block;
    }
}