$mainColor: #FE8173;

[id^="tiplodicus-"],
[id*=" tiplodicus-"] {
    width: 15rem;
    display: none;
    position: absolute;
    .td-text {
        padding: 1rem;
        margin: 0;
        background-color: $mainColor;
        line-height: 1.5rem;
        border-radius: 2rem;
    }
    .td-tip {
        border-top: 0.625rem solid $mainColor;
        border-left: 0.625rem solid transparent;
        border-right: 0.625rem solid transparent;
    }
    &.show {
        display: block;
    }
    &.topCenter {
        margin-bottom: 0.625rem;
        .td-tip {
            -webkit-transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: 100%;
        }
    }
    &.topRight {
        margin-bottom: 0.625rem;
        .td-tip {
            position: absolute;
            left: 10%;
            top: 100%;
        }
    }
    &.topLeft {
        margin-bottom: 0.625rem;
        .td-tip {
            position: absolute;
            right: 15%;
            top: 100%;
        }
    }
    &.bottomCenter {
        margin-top: 0.625rem;
        .td-tip {
            border-bottom: 0.625rem solid $mainColor;
            border-top: none;
            -webkit-transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: -0.625rem;
        }
    }
    &.bottomRight {
        margin-top: 0.625rem;
        .td-text {
            border-radius: 1rem;
        }
        .td-tip {
            border-top: none;
            border-bottom: 1rem solid $mainColor;
            border-left-width: 0.65rem;
            border-right-width: 0.65rem;
            -webkit-transform: rotateZ(-39deg);
            transform: rotateZ(-39deg);
            position: absolute;
            left: -0.45rem;
            top: -0.45rem;
        }
    }
    &.bottomLeft {
        margin-top: 0.625rem;
        .td-text {
            border-radius: 1rem;
        }
        .td-tip {
            border-top: none;
            border-bottom: 1rem solid $mainColor;
            border-left: 0.65rem solid transparent;
            border-right: 0.65rem solid transparent;
            -webkit-transform: rotateZ(39deg);
            transform: rotateZ(39deg);
            position: absolute;
            right: -0.40rem;
            top: -0.40rem;
        }
    }
    &.rightCenter {
        margin-left: 0.75rem;
        .td-tip {
            border-left: none;
            border-top: 0.625rem solid transparent;
            border-bottom: 0.625rem solid transparent;
            border-right: 0.625rem solid $mainColor;
            -webkit-transform: translateY(-50%);
            position: absolute;
            left: -0.5rem;
            top: 50%;
        }
    }
    &.leftCenter {
        margin-right: 0.75rem;
        .td-tip {
            border-right: none;
            border-top: 0.625rem solid transparent;
            border-bottom: 0.625rem solid transparent;
            border-left: 0.625rem solid $mainColor;
            -webkit-transform: translateY(-50%);
            position: absolute;
            right: -0.5rem;
            top: 50%;
        }
    }
}